@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Fill out the details brelow</h2>
    <div>
        <label>Last Name</label>
        <input />
        <label>Date of Birth</label>
        <input />
    </div>
</div>
